<div class="hero">
  <header>
    <h3>Welcome to the online home of</h3>
    <h1 class="has-fire">
      <span dir="rtl" class="before">קהל רינה ותפילה</span>
      <span dir="rtl" class="this">קהל רינה ותפילה</span>
      <span dir="rtl" class="after">קהל רינה ותפילה</span>
    </h1>
    <h6>Kehal Rina U'Tefilah</h6>
    <h4>A premier, vibrant makom Torah in Detroit</h4>
  </header>
  <nav class="tabs">
    <a class="tab">Shiurim</a>
    <a class="tab">Schedule</a>
    <a class="tab">Contribute</a>
  </nav>
</div>

<router-outlet></router-outlet>
